<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="eddaoust.com">

        {% set pageTitle %}{% block title %}{% endblock %}{% endset %}
        {% set description = 'Discuss with the Starter Story youtube channel. This educational project aims to teach the basics of RAG architecture in PHP.' %}

        <title>{{ pageTitle }}| By Ed.</title>
        <meta name="description" content="{{ description }}">

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="{{ app.request.schemeAndHttpHost ~ app.request.requestUri }}">
        <meta property="og:type" content="website">
        <meta property="og:title" content="{{ pageTitle }}| By Ed.">
        <meta property="og:description" content="{{ description }}">
        <meta property="og:image" content="{{ absolute_url(asset('logo-black.png')) }}">
        <meta property="og:image:secure_url" content="{{ absolute_url(asset('logo-black.png')) }}">
        <meta property="og:locale" content="fr_FR">

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="{{ pageTitle }}| By Ed.">
        <meta name="twitter:description" content="{{ description }}">
        <meta name="twitter:image" content="{{ absolute_url(asset('logo-black.png')) }}">

        <link rel="canonical" href="{{ app.request.schemeAndHttpHost ~ app.request.requestUri }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon.ico') }}">

        <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

        {% block stylesheets %}{% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
